{% extends "base.html" %}
{% load i18n static wger_extras django_bootstrap_breadcrumbs %}

{% block title %}{% translate "User list" %}{% endblock %}


{% block content %}
    {% include 'gym/partial_user_list.html' %}
{% endblock %}


{% block sidebar %}
    {% if request.user.is_superuser %}
    <div class="card mb-3">
        <div class="card-header">
            <span class="{% fa_class 'user-plus' %} me-1"></span>
            {% translate "Admin actions" %}
        </div>
        <div class="card-body">
            <a href="{% url 'core:user:add-user' %}" class="btn btn-success w-100">
                <span class="{% fa_class 'plus' %} me-1"></span>
                {% translate "Add User" %}
            </a>
        </div>
    </div>
    {% endif %}
{% endblock %}
