{% extends "base_wide.html" %}
{% load i18n static wger_extras cache django_bootstrap_breadcrumbs %}


{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
{% endblock %}
{% block opengraphimages %}
{% endblock %}


{#       #}
{# Title #}
{#       #}
{% block title %}{% endblock %}


{#        #}
{# Header #}
{#        #}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'node/@wger-project/react-components/build/assets/index.css' %}" id="react-css">
    <script src="{% static 'node/@popperjs/core/dist/umd/popper.js' %}"></script>
    <script src="{% static 'js/nutrition.js' %}"></script>
    <script src="{% static 'js/language.js' %}"></script>
    <script>window.WGER_I18N_PATHS = {% react_translation_paths %};</script>
    <script src="{% static 'node/@wger-project/react-components/build/main.js' %}" type="module" defer="defer"></script>
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}
    <div id="{{ div_id }}"></div>
{% endblock %}


{#         #}
{# Options #}
{#         #}
{% block options %}
{% endblock %}
